.task-detail .comment-detail-textarea {
  width: 100%; }

.task-detail .comment-detail-btn {
  float: right; }

.task-detail .task-detail-body {
  margin-bottom: 2em;
  margin-top: 2em;
  border-top: solid 1px #e8e8ee;
  padding-top: 1em; }

.task-detail .task-detail-body h1 {
  font-size: 22px;
  padding-top: 2px; }

.task-detail .task-detail-body ul {
  padding-left: 1px; }

.task-detail .task-detail-body ul li {
  list-style: none; }

.task-detail .task-detail-body ul li div:first-of-type {
  font-weight: 700;
  display: inline; }

.task-detail .task-detail-body ul li div:last-of-type {
  display: inline; }

.task-detail .task-detail-comments ul {
  padding-left: 1px;
  border: solid 0px #e8e8ee; }

.task-detail .task-detail-comments ul li {
  list-style: none;
  border-top: solid 1px #e8e8ee;
  border-bottom: solid 1px #e8e8ee;
  padding: 10px;
  margin-bottom: 0; }

.task-detail .task-detail-comments ul li .user {
  font-size: 1em;
  font-weight: 700;
  display: inline-block; }

.task-detail .task-detail-comments ul li .task-date {
  display: inline-block;
  float: right; }

.task-detail .comment-link {
  display: inline-block; }

.task-detail .comment-link::before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 0.4em -6px 0.16em;
  background-image: url(message-square.svg);
  background-repeat: no-repeat; }

.task-detail .wordwrap {
  word-wrap: break-word; }

.task-detail .comment-btn {
  font-size: 0.8em;
  padding: 2px;
  min-width: 100px;
  font-weight: 400;
  float: right; }
