.mailWrapper .nexdoc-mail-container {
  padding-top: 1.6em; }
  .mailWrapper .nexdoc-mail-container.reply {
    padding-top: 50px;
    margin-top: 1.6em;
    background-color: #fafafa; }

.mailWrapper .nexdoc-mail {
  position: relative;
  padding: 20px; }
  .mailWrapper .nexdoc-mail.reply {
    border-top: 1px solid #c4c4c4; }
    .mailWrapper .nexdoc-mail.reply .btn-archive, .mailWrapper .nexdoc-mail.reply .btn-unarchive {
      top: 163px; }
  .mailWrapper .nexdoc-mail span {
    max-width: none !important; }
  .mailWrapper .nexdoc-mail p {
    max-width: none !important;
    margin: 0 !important; }
  .mailWrapper .nexdoc-mail .reply-area {
    height: 150px;
    border: 1px solid #ddd;
    font-size: 90%;
    display: none;
    overflow: scroll; }
    .mailWrapper .nexdoc-mail .reply-area.reply {
      display: block;
      background-color: white;
      width: 97%;
      resize: none; }
  .mailWrapper .nexdoc-mail .file-drop-zone {
    margin-top: 10px;
    background-color: white; }
  .mailWrapper .nexdoc-mail .mail-from, .mailWrapper .nexdoc-mail .mail-subject-container {
    border-bottom: 1px solid #ddd;
    padding: 1em;
    font-weight: bold;
    font-size: 90%; }
  .mailWrapper .nexdoc-mail .text-normal {
    font-weight: normal; }
    .mailWrapper .nexdoc-mail .text-normal div {
      display: inline-block; }
    .mailWrapper .nexdoc-mail .text-normal .mail-attachment {
      margin-left: 5px; }
  .mailWrapper .nexdoc-mail .mail-date {
    display: block;
    font-weight: bold;
    padding-top: 1em; }
  .mailWrapper .nexdoc-mail .mail-body-container {
    padding: 1em;
    padding-bottom: 0;
    font-size: 90%;
    margin-bottom: 1em;
    white-space: pre-line; }
    .mailWrapper .nexdoc-mail .mail-body-container .mail-body p, .mailWrapper .nexdoc-mail .mail-body-container .mail-body span {
      margin-bottom: 1em; }
  .mailWrapper .nexdoc-mail .mail-icon, .mailWrapper .nexdoc-mail .btn-archive, .mailWrapper .nexdoc-mail .btn-reply-action, .mailWrapper .nexdoc-mail .btn-unarchive, .mailWrapper .nexdoc-mail .btn-reply, .mailWrapper .nexdoc-mail .btn-attach, .mailWrapper .nexdoc-mail .action-history {
    display: block;
    padding: 10px 15px;
    background-color: #fafafa;
    cursor: pointer;
    border: 0; }
    .mailWrapper .nexdoc-mail .mail-icon::before, .mailWrapper .nexdoc-mail .btn-archive::before, .mailWrapper .nexdoc-mail .btn-reply-action::before, .mailWrapper .nexdoc-mail .btn-unarchive::before, .mailWrapper .nexdoc-mail .btn-reply::before, .mailWrapper .nexdoc-mail .btn-attach::before, .mailWrapper .nexdoc-mail .action-history::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 .4em -8px 0;
      background-repeat: no-repeat;
      background-size: auto 18px;
      pointer-events: none;
      content: ''; }
    .mailWrapper .nexdoc-mail .mail-icon:hover, .mailWrapper .nexdoc-mail .btn-archive:hover, .mailWrapper .nexdoc-mail .btn-reply-action:hover, .mailWrapper .nexdoc-mail .btn-unarchive:hover, .mailWrapper .nexdoc-mail .btn-reply:hover, .mailWrapper .nexdoc-mail .btn-attach:hover, .mailWrapper .nexdoc-mail .action-history:hover {
      color: #333;
      opacity: 0.7; }
  .mailWrapper .nexdoc-mail .btn-archive, .mailWrapper .nexdoc-mail .btn-reply-action, .mailWrapper .nexdoc-mail .btn-unarchive {
    right: 0;
    position: absolute;
    top: 10px;
    display: inline-block;
    opacity: 0.8; }
  .mailWrapper .nexdoc-mail .btn-archive {
    right: 10px;
    top: -43px;
    background-color: white; }
    .mailWrapper .nexdoc-mail .btn-archive::before {
      background-image: url("./archive.svg"); }
  .mailWrapper .nexdoc-mail .btn-unarchive {
    right: 10px;
    top: -43px;
    background-color: white; }
    .mailWrapper .nexdoc-mail .btn-unarchive::before {
      background-image: url("./unarchive.svg"); }
  .mailWrapper .nexdoc-mail .btn-reply-action.reply {
    right: 21px;
    top: 28px;
    background-color: #fafafa; }
    .mailWrapper .nexdoc-mail .btn-reply-action.reply::before {
      background-image: url("./reply.svg"); }
  .mailWrapper .nexdoc-mail .btn-reply-action.send {
    right: 210px;
    top: -28px; }
    .mailWrapper .nexdoc-mail .btn-reply-action.send::before {
      background-image: url("./send.svg"); }
  .mailWrapper .nexdoc-mail .btn-reply-action.discard {
    right: 10px;
    top: -28px; }
  .mailWrapper .nexdoc-mail .btn-reply-action.attach {
    right: 90px;
    top: -28px; }
    .mailWrapper .nexdoc-mail .btn-reply-action.attach::before {
      background-image: url("./attach.svg"); }
  .mailWrapper .nexdoc-mail .btn-reply {
    padding-left: 0;
    opacity: 0.8;
    display: inline; }
    .mailWrapper .nexdoc-mail .btn-reply::before {
      background-image: url("./reply.svg"); }
  .mailWrapper .nexdoc-mail .btn-attach {
    display: inline;
    opacity: 0.8; }
    .mailWrapper .nexdoc-mail .btn-attach::before {
      background-image: url("./attach.svg"); }
  .mailWrapper .nexdoc-mail .action-history {
    display: block;
    opacity: 0.8;
    padding-left: 0;
    border-bottom: 1px solid #1B7991; }
    .mailWrapper .nexdoc-mail .action-history::before {
      background-image: url("./caret-down.svg");
      margin: 0 0.4em -6px 0 !important; }

.mailWrapper .attach-files ul li {
  display: relative; }
  .mailWrapper .attach-files ul li::after {
    content: '';
    background-image: url("close.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 .4em -8px 0;
    background-repeat: no-repeat;
    background-size: auto 20px;
    cursor: pointer;
    margin-left: 5px; }

.mailWrapper .mail-attachment {
  cursor: pointer;
  border: 0;
  background-color: inherit;
  padding: 5px;
  margin-left: 1em; }
  .mailWrapper .mail-attachment::before {
    content: '';
    background-image: url("file.svg");
    display: inline-block;
    width: 24px;
    height: 18px;
    margin: 0 -5px -5px 0;
    background-repeat: no-repeat;
    background-size: auto 18px;
    cursor: pointer; }
  .mailWrapper .mail-attachment:hover {
    background-color: white; }

.mailWrapper .back-button {
  margin-top: 1em; }
